#Incidence.banner_sec {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #dffdbf 75.11%,
    var(--header) 100%
  );
}
#Death.banner_sec {
  background: linear-gradient(
    115.35deg,
    #fff 20.25%,
    #edc2ae 81.23%,
    #fff 100%
  );
  margin-bottom: -1.1rem;
  padding: 3rem 0 0rem !important;
}

.banner_sec {
  position: relative;
  z-index: 2;
  .btn_bg {
    background: $color_light_blue;
    border-radius: 50rem;
    display: inline-flex !important;
    padding: 1rem;
    @include respond(400px) {
      padding: 0.7rem;
    }

    .tab-btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 0.438rem;
      background: #fff;
      border-radius: 3.125rem;
      padding: 0.2rem 1.25rem;
      background: $color_light_blue;
      border: 1px solid #e8e8e8;
      box-shadow: 0.464rem 0.464rem 1.161rem rgba(174, 174, 192, 0.4),
        -0.464rem -0.464rem 0.929rem #ffffff,
        -7.43046px -7.43046px 14.8609px #ffffff,
        7.43046px 7.43046px 18.5761px rgba(174, 174, 192, 0.4);
      border-radius: 2.661rem;
      font-family: $font_familt_circe;
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      transition: 0.3s;
      text-align: center;
      letter-spacing: -0.03em;
      @include respond(phone-sm) {
        //576px
        font-size: 1.2rem;
      }
      @include respond(400px) {
        padding: 0.2rem 0.8rem;
      }
      // &:hover {
      //   border: 0.063rem solid $color_orange !important;
      // }
      img {
        @include respond(phone-sm) {
          //576px
          width: 1.2rem;
        }
      }
      // &:hover span {
      //   color: $color_orange !important;
      // }
      // &:hover path {
      //   fill: $color_orange;
      // }
      span {
        color: $color_gray;
        position: relative;
        top: 0.063rem;
      }
    }
    .tab-btn.active {
      border: 0.063rem solid $color_orange;
      span {
        color: $color_orange;
      }
    }
  }

  .btn_bg_incidence {
    background: var(--secondary);
    border-radius: 50rem;
    display: inline-flex !important;
    padding: 1rem;
    @include respond(400px) {
      padding: 0.7rem;
    }
    .tab-btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 0.438rem;
      border-radius: 3.125rem;
      padding: 0.2rem 1.25rem;
      // background: $color_light_blue;
      // border: 1px solid #e8e8e8;
      border-radius: 2.661rem;
      font-family: $font_familt_circe;
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      transition: 0.3s;
      text-align: center;
      letter-spacing: -0.03em;
      @include respond(phone-sm) {
        //576px
        font-size: 1.2rem;
      }
      @include respond(400px) {
        padding: 0.2rem 0.8rem;
      }
      // &:hover {
      //   background: #fff;
      // }
      img {
        @include respond(phone-sm) {
          //576px
          width: 1.2rem;
        }
      }
      // &:hover span {
      //   color: $color_orange !important;
      // }
      // &:hover path {
      //   fill: $color_orange;
      // }
      span {
        color: white;
        position: relative;
        top: 0.063rem;
      }
    }
    .tab-btn.active {
      border: 0.063rem solid $color_orange;
      background: #fff;
      span {
        color: $color_orange;
      }
    }
  }

  .page-header {
    font-family: $font_familt_sunset;
    font-weight: 700;
    font-size: 5.938rem;
    line-height: 1;
    color: $color_orange;
    @include respond(1700px) {
      font-size: 5rem;
    }
    @include respond(1450px) {
      font-size: 4.5rem;
    }
    @include respond(1280px) {
      font-size: 4rem;
    }
    @include respond(10700px) {
      font-size: 3.5rem;
    }
    @include respond(phone) {
      //768px
      font-size: 3.3rem;
    }
    @include respond(phone-sm) {
      //576px
      font-size: 2.6rem;
    }
    @include respond(450px) {
      //410px
      font-size: 2rem;
    }
    span {
      color: $color_green;
    }
  }
  .banner_img {
    padding-top: 5rem;
    @include respond(phone) {
      //768px
      padding-top: 2rem;
    }
  }
  .green_virus {
    position: absolute;
    top: 25%;
    left: 22%;
    z-index: -1;
    @include respond(1260px) {
      left: 18%;
    }
    @include respond(tab-land) {
      //1200px
      width: 14rem;
    }
    @include respond(1100px) {
      top: 28%;
      left: 15%;
    }
    @include respond(1000px) {
      width: 12rem;
      top: 23%;
      left: 10%;
    }
    @include respond(850px) {
      left: 5%;
    }

    @include respond(phone) {
      //768px
      display: none;
    }
  }
  .red_virus {
    position: absolute;
    top: 23%;
    right: 29%;
    @include respond(1600px) {
      right: 25%;
      top: 25%;
    }
    @include respond(1260px) {
      right: 20%;
      top: 29%;
    }
    @include respond(tab-land) {
      //1200px
      width: 18rem;
    }
    @include respond(1000px) {
      width: 14rem;
      right: 20%;
      top: 35%;
    }
    @include respond(900px) {
      top: 40%;
    }

    @include respond(phone) {
      //768px
      display: none;
    }
  }
  .banner_white_shape {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
    width: 90%;
    @include respond(phone) {
      //768px
      bottom: 2rem;
    }
  }
}

#Incidence-Title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  & + img {
    margin-top: 20px;
  }
}

img.img-fluid.banner_img.Incidence {
  padding-top: 0;
  padding-bottom: 8rem;
  @include respond(992px) {
    padding-top: 5rem;
    padding-bottom: 7rem;
  }

  @include respond(768px) {
    padding-top: 8rem;
    padding-bottom: 3rem;
  }
  @include respond(560px) {
    padding-top: 3.5rem;
  }
  @include respond(450px) {
    padding-top: 5rem;
  }
}
img.img-fluid.banner_img.Death {
  padding-top: 5rem;
}
